.desc {
    justify-content: space-between;
}

.secondary__info {
    justify-content: space-between;
}


.pagination__container>li {
    cursor: pointer;

}

.active {
    background-color: #dfdcdc;
}